<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ css_path }}">
</head>
<body>
    <div>
        <h1 style="text-align: center;"><strong>Compliance Report</strong></h1>

        {% include "_intro_section.jinja2" %}

        {% for metric in metrics %}
            {% with m=metric %}
                {% include "_metric_details.jinja2" %}
            {% endwith %}
        {% endfor %}
    </div>
</body>
</html>
